.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner img {
    width:100px;
    height:100px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(1);
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #050303;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #ECECEC;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    color:gray
}

.footer a {
    text-decoration:none;
}

/* unvisited link */
.footer a:link {
    color: #C5CDC5;
}

/* visited link */
.footer a:visited {
    color: #C5CDC5;
}

/* mouse over link */
 .footer a:hover {
    color: #D33030;
}

/* selected link */
 .footer a:active {
    color: #C5CDC5;
}

#pulse:hover {
  -webkit-animation: bounce 1s;
}
